chaostoolkit-aws
chaostoolkit-azure
chaostoolkit-cloud-foundry
chaostoolkit-kubernetes
chaostoolkit-google-cloud-platform
chaostoolkit-humio
chaostoolkit-prometheus
chaostoolkit-spring
chaostoolkit-toxiproxy
chaostoolkit-opentracing
chaostoolkit-service-fabric
chaostoolkit-istio
chaostoolkit-wiremock
chaostoolkit-gandi
chaostoolkit-dynatrace
chaostoolkit-k6
chaostoolkit-reliably
chaostoolkit-addons
chaostoolkit-grafana
chaostoolkit-slack

# Not included because package is way too large and bloat this image
#chaostoolkit-ansible
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability